.menu{
    width: 280px;
    height: calc(100vh - 40px);
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #0b4572;
    transition: all ease 500ms;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 4;
}

.menuInactive{
    width: 280px;
    height: calc(100vh - 40px);
    position: fixed;
    bottom: 0;
    right: -280px;
    background-color: #f1f5f8;
    transition: all ease 500ms;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* display: hidden; */
    z-index: 5;
}

.menuDiv{
    width: 100%;
    height: 50px;
    /* border: 1px solid white; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin: 20px 0;
    cursor: pointer;
    padding: 0 1em;
}

.ChevronUpIcon{
    width: 40px;
    height: auto;
    color: white;
    transition: all ease 500ms;
    margin-right: 20px;
}

.menuDiv > h1{
    color: white;
    font-size: 30px;
    font-weight: 300;
}