.hamburger{
    width: 40px;
    height: 40px;
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: column;
    cursor: pointer;
    transition: all ease 500ms;
}


.line{
    width: 100%;
    height: 3px;
    background-color: white;
    transition: all ease 500ms;
}

.middleLine{
    width: 70%;
    height: 3px;
    background-color: white;
    transition: all ease 500ms;
}

#line1{
    transform: rotate(45deg);
    transform-origin: left;
    transition: all ease 500ms;
}

#line2{
    opacity: 0;
    transition: all ease 500ms;
    /* display: none; */
}

#line3{
    transform: rotate(-45deg);
    transform-origin: left;
    transition: all ease 500ms;
}