.shop {
    /* position: absolute; */
    box-shadow: 1px 1px 10px black;
  }
  
  .shopDetails::-webkit-scrollbar {
    display: none;
  }
  
  .image {
    transition: all ease 500ms;
  }
  
  .image:hover {
    transform: scale(1.1);
  }
  